   body
   {
    background-image: linear-gradient(white, gray);
   }
   DIV.table
   {
       display:table; width: 70%;
       margin: 10px;
       border: 2px solid black;
       border-radius: 10px;
   }
   DIV.message_info
   {
       background-color:e5e5e5;
       display:table; width: 40%;
       margin: 50px;
       border: 4px solid black;
       border-radius: 20px;
   }
   FORM.tr, DIV.tr
   {
       display:table-row;
       border: 1px solid black;
       padding: 10px;
       margin: 10px;
   }
   SPAN.td
   {
       border-right: 1px solid black;
       background-color:white;
       display:table-cell;
       padding: 10px;
       margin: 10px;
   }
   SPAN.th
   {
       background-color:#e8e8e8;
       border-bottom: 3px solid black;
       border-right: 2px solid black;
       display:table-cell;
       font-weight: bold;
       padding: 10px;
       margin: 10px;
   }