html, body{
	margin-left:15px; margin-right:15px;
	padding:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

i {
color:white;
}

table {
	border-collapse:collapse;
	border-bottom:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:72%;
}

th {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #4e9ccc;
	padding:10px;
	color: #FFFFFF;
}


tr {
	border-top:1px solid gray;
	text-align:center;
}

tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #F2F2F2}

#wrapper {width: 100%; margin-top: 0px; }
#header {width: 70%;  margin-top: 0px;}

#header h3 {color: #2C4E8D;}
#container {width: 100%; margin:auto}
#container h3 {color: #4e9ccc;}
#container #content {margin-top: 100px;}

.headerTh {
         	border-bottom:1px solid gray;
         	background:none repeat scroll 0 0 #2C4E8D;
         	padding:10px;
         	color: #FFFFFF;
         }

.add-button {
    color:white;
    background: #039c4d;

	border: 1px solid #666;
	border-radius: 5px;
	padding: 4px;
	font-size: 12px;
	font-weight: bold;
	width: 120px;

	margin: 5px;

}

.get-button {
	border: 1px solid #666;
	border-radius: 5px;
	padding: 4px;
	color: white;
	font-size: 12px;
	font-weight: bold;
	width: 120px;
	padding: 5px 10px;
    margin-top: 2px;
	margin-bottom: 2px;
	background: #4e9ccc;
}